<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>MEPOS Stock Management | Purchases List</title>
		<h:outputStylesheet library="css" name="normal_screen.min.css"/>
		<h:outputScript library="js" name="functions.js" target="head"/>
	</h:head>
	<h:body>
		<ui:composition template="/template/baseLayout.xhtml">
			<ui:define name="content">
				<div id="content">
					<h:form id="purchaseForm">
					    <p:toolbar>
					        <f:facet name="left">
					            <p:commandButton type="button" title="Create" icon="ui-icon-plus" onclick="PF('create').show();" class="create-button"/>
					            <p:commandButton type="button" title="Delete" icon="ui-icon-trash" onclick="PF('deleteSelectedRows').show();" class="create-button"/>
					            <f:facet name="right">
						            <h:commandLink>
										<h:outputText value="PDF" />
										<p:dataExporter type="pdf" target="purchaseTable" fileName="purchases" pageOnly="false" />
									</h:commandLink>
									<h:commandLink>
										<h:outputText value="CSV" />
										<p:dataExporter type="csv" target="purchaseTable" fileName="purchases" pageOnly="false" />
									</h:commandLink>
						        </f:facet>
					        </f:facet>
					    </p:toolbar>
					    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
					    <p:dialog id="createDialog" header="Create a purchase" widgetVar="create" modal="true" resizable="false">
						    <h:panelGrid columns="1" cellpadding="5">
								<p:autoComplete
									placeholder="Product"
									value="#{purchaseBean.product.name}"
				                    maxResults="10"
				                    completeMethod="#{purchaseBean.completeProduct}"
				            	/>
				            	<p:inputText
				            		placeholder="Quantity"
				            		value="#{purchaseBean.quantity}"
				            		onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
				            		label="quantity"
				            	/>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Create"
					                	actionListener="#{purchaseBean.create}"
					                	oncomplete="handleCreateRequest(xhr, status, args)"
					                	update="growl purchaseForm:purchaseTable purchaseForm:createDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:dialog id="updateDialog" header="Update an purchase" widgetVar="update" modal="true" resizable="false" dynamic="true">
						   <h:panelGrid columns="1" cellpadding="5">
						   		<h:outputText value="#{purchaseBean.selectedPurchase.id}" />
						   		<p:autoComplete
									placeholder="Product"
									value="#{purchaseBean.selectedPurchase.product.name}"
				                    maxResults="10"
				                    completeMethod="#{purchaseBean.completeProduct}"
				            	/>
				            	<p:inputText
				            		placeholder="Quantity"
				            		value="#{purchaseBean.selectedPurchase.quantity}"
				            		onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;"
				            		label="quantity"
				            	/>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Update"
					                	actionListener="#{purchaseBean.update}"
					                	oncomplete="handleUpdateRequest(xhr, status, args)"
					                	update="growl purchaseForm:purchaseTable purchaseForm:updateDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:confirmDialog id="deleteDialog"
							message="Are you sure that you want to delete the selected item ?"
		                    header="Delete a purchase"
		                    severity="alert"
		                    widgetVar="delete"
		               	>
		                    <p:commandButton
		                    	id="confirmDelete"
		                    	value="Yes"
		                        oncomplete="PF('delete').hide()"
		                        actionListener="#{purchaseBean.delete}"
		                        update="purchaseForm:purchaseTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDelete"
		                    	value="No"
		                        onclick="PF('delete').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
		                <p:confirmDialog id="deleteSelectedRowsDialog"
							message="Are you sure that you want to delete the selected items ?"
		                    header="Delete purchases"
		                    severity="alert"
		                    widgetVar="deleteSelectedRows"
		               	>
		                    <p:commandButton
		                    	id="confirmDeleteSelectedRows"
		                    	value="Yes"
		                        oncomplete="PF('deleteSelectedRows').hide()"
		                        actionListener="#{purchaseBean.deleteSelectedRows}"
		                        update="purchaseForm:purchaseTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDeleteSelectedRows"
		                    	value="No"
		                        onclick="PF('deleteSelectedRows').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
						<p:dataTable
							id="purchaseTable"
							var="purchase"
							value="#{purchaseBean.purchases}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" rows="10" style="margin-bottom:20px"
							rowsPerPageTemplate="10,15,20"
							selection="#{purchaseBean.selectedPurchases}"
							rowKey="#{purchase.id}">
							<p:column selectionMode="multiple" style="width:16px;text-align:center" exportable="false"/>
							<p:column class="idColumn" sortBy="#{purchase.id}" filterBy="#{purchase.id}">
						    	<f:facet name="header">
						        	<h:outputText value="ID" />
						   		</f:facet>
						        <h:outputText value="#{purchase.id}" />
							</p:column>
							<p:column class="productColumn" sortBy="#{purchase.product.name}" filterBy="#{purchase.product.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Product" />
						   		</f:facet>
						        <h:outputText value="#{purchase.product.name}" />
							</p:column>
							<p:column class="categoryColumn" sortBy="#{purchase.product.category.name}" filterBy="#{purchase.product.category.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Category" />
						   		</f:facet>
						        <h:outputText value="#{purchase.product.category.name}" />
							</p:column>
							<p:column class="quantityColumn" sortBy="#{purchase.quantity}" filterBy="#{purchase.quantity}" filterMatchMode="exact">
						    	<f:facet name="header">
						        	<h:outputText value="Quantity" />
						   		</f:facet>
						        <h:outputText value="#{purchase.quantity}" />
							</p:column>
							<p:column class="dateColumn" sortBy="#{purchase.receptionDate}" filterBy="#{purchase.receptionDate}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Date" />
						   		</f:facet>
						        <h:outputText value="#{purchase.receptionDate}" />
							</p:column>
							<p:column class="actionsColumn" exportable="false">
								<f:facet name="header">
									<h:outputText value="Actions" />
								</f:facet>
								<p:commandButton
									class="update-button"
									icon="ui-icon-pencil"
	                                update="purchaseForm:updateDialog"
	                                oncomplete="PF('update').show();"
	                        	>
	                                <f:setPropertyActionListener
	                                	value="#{purchase}"
	                                    target="#{purchaseBean.selectedPurchase}"
	                                />
	                            </p:commandButton>
								<p:commandButton
									class="delete-button"
	                   				icon="ui-icon-trash"
	                                onclick="PF('delete').show();">
	                                <f:setPropertyActionListener
	                                	value="#{purchase}"
	                                    target="#{purchaseBean.selectedPurchase}"
	                                />
	                            </p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</ui:define>
		</ui:composition>
	</h:body>
</html>
