<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>MEPOS Stock Management</title>
		<h:outputStylesheet library="css" name="normal_screen.min.css" target="body"/>
		<h:outputScript library="js" name="functions.js" target="head"/>
	</h:head>
	<h:body>
		<ui:insert name="menu" >
			<ui:include src="/template/menu.xhtml" />
		</ui:insert>
		<ui:insert name="content">
			
		</ui:insert>
	</h:body>
</html>