<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Insert title here</title>
		<h:outputStylesheet name="common-style.css" library="css" />
	</h:head>
	<h:body>
		<ui:composition>
			<div id="menu">
				<div id="logo">
					<h:graphicImage library="img" name="logo.png" />
				</div>
				<div id="avatar">
					<h:graphicImage library="img" name="icons/user.png" style="height: 100%"/>
				</div>
				<h1 id="membership">#{request.remoteUser}</h1>
				<div class="menu-item">
					<h:outputLink value="/MEPOSStock/secured/Product/List.xhtml">
						<div class="icon-container">
							<h:graphicImage library="img" name="icons/product.png"/>
							<span>Products</span>
						</div>
					</h:outputLink>
				</div>
				<div class="menu-item">
					<h:outputLink value="/MEPOSStock/secured/Inventory/List.xhtml">
						<div class="icon-container">
							<h:graphicImage library="img" name="icons/inventory.png"/>
							<span>Inventories</span>
						</div>
					</h:outputLink>
				</div>
				<div class="menu-item">
					<h:outputLink value="/MEPOSStock/secured/Purchase/List.xhtml">
						<div class="icon-container">
							<h:graphicImage library="img" name="icons/basket.png"/>
							<span>Purchases</span>
						</div>
					</h:outputLink>
				</div>
				<div class="menu-item">
					<h:outputLink value="/MEPOSStock/secured/Category/List.xhtml">
						<div class="icon-container">
							<h:graphicImage library="img" name="icons/tags.png"/>
							<span>Categories</span>
						</div>
					</h:outputLink>
				</div>
				<div class="menu-item">
					<h:outputLink value="/MEPOSStock/secured/User/List.xhtml">
						<div class="icon-container">
							<h:graphicImage library="img" name="icons/users.png"/>
							<span>Users</span>
						</div>
					</h:outputLink>
				</div>
				<h:form>
					<h:commandLink action="#{userBean.signOut}">
						<h:graphicImage library="img" name="icons/logout.png"/>
					</h:commandLink>
				</h:form>
			</div>
	    </ui:composition>
	</h:body>
</html>