<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>MEPOS Stock Management | Categories List</title>
		<h:outputStylesheet library="css" name="normal_screen.min.css"/>
		<h:outputScript library="js" name="functions.js" target="head"/>
	</h:head>
	<h:body>
		<ui:composition template="/template/baseLayout.xhtml">
			<ui:define name="content">
				<div id="content">
					<h:form id="categoryForm">
					    <p:toolbar>
					        <f:facet name="left">
					            <p:commandButton type="button" title="Create" icon="ui-icon-plus" onclick="PF('create').show();" class="create-button"/>
					            <p:commandButton type="button" title="Delete" icon="ui-icon-trash" onclick="PF('deleteSelectedRows').show();" class="delete-button"/>
					            <f:facet name="right">
						            <h:commandLink>
										<h:outputText value="PDF" />
										<p:dataExporter type="pdf" target="categoryTable" fileName="categories" pageOnly="false" />
									</h:commandLink>
									<h:commandLink>
										<h:outputText value="CSV" />
										<p:dataExporter type="csv" target="categoryTable" fileName="categories" pageOnly="false" />
									</h:commandLink>
						        </f:facet>
					        </f:facet>
					    </p:toolbar>
					    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
					    <p:dialog id="createDialog" header="Create a category" widgetVar="create" modal="true" resizable="false">
						    <h:panelGrid columns="1" cellpadding="5">
								<p:autoComplete
									placeholder="Parent category"
									value="#{categoryBean.parentCategory.name}"
				                    maxResults="10"
				                    completeMethod="#{categoryBean.completeCategory}"
				            	/>
				            	<p:inputText
				            		placeholder="Name"
				            		value="#{categoryBean.name}"
				            		label="name"
				            	/>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Create"
					                	actionListener="#{categoryBean.create}"
					                	oncomplete="handleCreateRequest(xhr, status, args)"
					                	update="growl categoryForm:categoryTable categoryForm:createDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:dialog id="updateDialog" header="Update an category" widgetVar="update" modal="true" resizable="false" dynamic="true">
						   <h:panelGrid columns="1" cellpadding="5">
						   		<h:outputText value="#{categoryBean.selectedCategory.id}" />
						   		<p:autoComplete
									placeholder="Parent category"
									value="#{categoryBean.selectedCategory.parentCategory.name}"
				                    maxResults="10"
				                    completeMethod="#{categoryBean.completeCategory}"
				            	/>
				            	<p:inputText
				            		placeholder="Name"
				            		value="#{categoryBean.selectedCategory.name}"
				            		label="name"
				            	/>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Update"
					                	actionListener="#{categoryBean.update}"
					                	oncomplete="handleUpdateRequest(xhr, status, args)"
					                	update="growl categoryForm:categoryTable categoryForm:updateDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:confirmDialog id="deleteDialog"
							message="Are you sure that you want to delete the selected item ?"
		                    header="Delete an category"
		                    severity="alert"
		                    widgetVar="delete"
		               	>
		                    <p:commandButton
		                    	id="confirmDelete"
		                    	value="Yes"
		                        oncomplete="PF('delete').hide()"
		                        actionListener="#{categoryBean.delete}"
		                        update="categoryForm:categoryTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDelete"
		                    	value="No"
		                        onclick="PF('delete').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
		                <p:confirmDialog id="deleteSelectedRowsDialog"
							message="Are you sure that you want to delete the selected items ?"
		                    header="Delete categories"
		                    severity="alert"
		                    widgetVar="deleteSelectedRows"
		               	>
		                    <p:commandButton
		                    	id="confirmDeleteSelectedRows"
		                    	value="Yes"
		                        oncomplete="PF('deleteSelectedRows').hide()"
		                        actionListener="#{categoryBean.deleteSelectedRows}"
		                        update="categoryForm:categoryTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDeleteSelectedRows"
		                    	value="No"
		                        onclick="PF('deleteSelectedRows').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
						<p:dataTable
							id="categoryTable"
							var="category"
							value="#{categoryBean.categories}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" rows="10" style="margin-bottom:20px"
							rowsPerPageTemplate="10,15,20"
							selection="#{categoryBean.selectedCategories}"
							rowKey="#{category.id}">
							<p:column selectionMode="multiple" style="width:16px;text-align:center" exportable="false"/>
							<p:column class="idColumn" sortBy="#{category.id}" filterBy="#{category.id}">
						    	<f:facet name="header">
						        	<h:outputText value="ID" />
						   		</f:facet>
						        <h:outputText value="#{category.id}" />
							</p:column>
							<p:column sortBy="#{category.name}" filterBy="#{category.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Category" />
						   		</f:facet>
						        <h:outputText value="#{category.name}" />
							</p:column>
							<p:column sortBy="#{category.parentCategory.name}" filterBy="#{category.parentCategory.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Parent category" />
						   		</f:facet>
						        <h:outputText value="#{category.parentCategory.name}" />
							</p:column>
							<p:column class="actionsColumn" exportable="false">
								<f:facet name="header">
									<h:outputText value="Actions" />
								</f:facet>
								<p:commandButton
									class="update-button"
									icon="ui-icon-pencil"
	                                update="categoryForm:updateDialog"
	                                oncomplete="PF('update').show();"
	                        	>
	                                <f:setPropertyActionListener
	                                	value="#{category}"
	                                    target="#{categoryBean.selectedCategory}"
	                                />
	                            </p:commandButton>
								<p:commandButton
									class="delete-button"
	                   				icon="ui-icon-trash"
	                                onclick="PF('delete').show();">
	                                <f:setPropertyActionListener
	                                	value="#{category}"
	                                    target="#{categoryBean.selectedCategory}"
	                                />
	                            </p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</ui:define>
		</ui:composition>
	</h:body>
</html>
