<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>MEPOS Stock Management | Show a product</title>
	</h:head>
	<h:body>
		<ui:composition template="/template/baseLayout.xhtml">
			<ui:define name="aside">
				<div id="aside">
					
				</div>
			</ui:define>
			<ui:define name="content">
				<div id="content">
					<h:form>
						<p:toolbar>
					        <f:facet name="right">
					            <p:calendar
					            	id="button"
					            	placeholder="Date"
					            	value="#{productBean.historyDate}"
					            	showOn="button"
					            	pattern="yyyy-MM-dd"
					            	onkeypress="return event.keyCode != 13;"
					            >
					            	<p:ajax event="dateSelect" listener="#{productBean.filterByHistoryDate}" update="productTable" />	
					            </p:calendar>
					            <f:facet name="right">
						            <h:commandLink class="exportLink">
										<h:outputText value="PDF" />
										<p:dataExporter type="pdf" target="productTable" fileName="products" pageOnly="true" />
									</h:commandLink>
									<h:commandLink class="exportLink">
										<h:outputText value="CSV" />
										<p:dataExporter type="csv" target="productTable" fileName="products" pageOnly="true" />
									</h:commandLink>
						        </f:facet>
					        </f:facet>
					    </p:toolbar>
						<p:dataTable 	id="productTable"
										var="product"
										value="#{productBean.historyDateStockProducts}"
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" rows="10" style="margin-bottom:20px"
										rowsPerPageTemplate="10,15,20">
							<p:column id="idColumn" class="idColumn" sortBy="#{product.id}" filterBy="#{product.id}" filterMatchMode="exact">
						    	<f:facet name="header">
						        	<h:outputText value="ID" />
						   		</f:facet>
						        <h:outputText value="#{product.id}" />
							</p:column>
							<p:column id="barcodeColumn" class="barcodeColumn" sortBy="#{product.barcode}" filterBy="#{product.barcode}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Barcode" />
						   		</f:facet>
						        <h:outputText value="#{product.barcode}" />
							</p:column>
							<p:column id="nameColumn" class="nameColumn" sortBy="#{product.name}" filterBy="#{product.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Name" />
						   		</f:facet>
						        <h:outputText value="#{product.name}" />
							</p:column>
							<p:column id="quantityColumn" class="quantityColumn" sortBy="#{product.quantity}" filterBy="#{product.quantity}" filterMatchMode="exact">
								<f:facet name="header">
									<h:outputText value="Quantity" />
								</f:facet>
								<h:outputText value="#{product.quantity}" />
							</p:column>
							<p:column id="priceColumn" class="priceColumn" sortBy="#{product.price}" filterBy="#{product.price}" filterMatchMode="exact">
								<f:facet name="header">
									<h:outputText value="Price" />
								</f:facet>
								<h:outputText value="#{product.price}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</ui:define>
		</ui:composition>
	</h:body>
</html>
