<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<title>MEPOS Stock Management | Sign in</title>
		<h:outputStylesheet library="css" name="normal_screen.min.css"/>
	</h:head>
	<h:body id="signInPage">
		<h:graphicImage id="logo" library="img" name="logo.png"/>
		<h:form id="signInForm">
			<h:message for="username"/>
			<h:inputText id="username" value="#{userBean.username}" a:placeholder="Username" label="username" required="true" requiredMessage="The username field should not be empty !"/>
			<h:message for="password"/>
			<h:inputSecret id="password" value="#{userBean.password}" a:placeholder="Password" label="password" required="true" requiredMessage="The password field should not be empty !"/>
			<h:commandButton id="signIn" value="Sign in" action="#{userBean.signIn}"/>
		</h:form>
	</h:body>
</html>
