<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>MEPOS Stock Management | Users List</title>
		<h:outputStylesheet library="css" name="normal_screen.min.css"/>
		<h:outputScript library="js" name="functions.js" target="head"/>
	</h:head>
	<h:body>
		<ui:composition template="/template/baseLayout.xhtml">
			<ui:define name="content">
				<div id="content">
					<h:form id="userForm">
					    <p:toolbar>
					        <f:facet name="left">
					            <p:commandButton type="button" title="Create" icon="ui-icon-plus" onclick="PF('create').show();" class="create-button"/>
					            <p:commandButton type="button" title="Delete" icon="ui-icon-trash" onclick="PF('deleteSelectedRows').show();" class="delete-button"/>
					            <f:facet name="right">
						            <h:commandLink>
										<h:outputText value="PDF" />
										<p:dataExporter type="pdf" target="userTable" fileName="users" pageOnly="false" />
									</h:commandLink>
									<h:commandLink>
										<h:outputText value="CSV" />
										<p:dataExporter type="csv" target="userTable" fileName="users" pageOnly="false" />
									</h:commandLink>
						        </f:facet>
					        </f:facet>
					    </p:toolbar>
					    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
					    <p:dialog id="createDialog" header="Create a user" widgetVar="create" modal="true" resizable="false">
						    <h:panelGrid columns="1" cellpadding="5">
				            	<p:inputText
				            		placeholder="Username"
				            		value="#{userBean.user.username}"
				            		label="username"
				            	/>
				            	<p:inputText
				            		placeholder="Password"
				            		value="#{userBean.user.password}"
				            		label="password"
				            	/>
				            	<p:inputText
				            		placeholder="First name"
				            		value="#{userBean.user.firstName}"
				            		label="firstname"
				            	/>
				            	<p:inputText
				            		placeholder="last name"
				            		value="#{userBean.user.lastName}"
				            		label="lastname"
				            	/>
				            	<p:selectOneMenu value="#{userBean.user.membership.id}">
				            		<f:selectItem itemLabel="Select a membership" itemValue="" noSelectionOption="true" />
								    <f:selectItems value="#{userBean.memberships}" var="membership" itemValue="#{membership.id}" itemLabel="#{membership.name}" />
								</p:selectOneMenu>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Create"
					                	actionListener="#{userBean.create}"
					                	oncomplete="handleCreateRequest(xhr, status, args)"
					                	update="growl userForm:userTable userForm:createDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:dialog id="updateDialog" header="Update a user" widgetVar="update" modal="true" resizable="false" dynamic="true">
						   <h:panelGrid columns="1" cellpadding="5">
						   		<h:outputText value="#{userBean.selectedUser.id}" />
						   		<p:inputText
				            		placeholder="Username"
				            		value="#{userBean.selectedUser.username}"
				            		label="username"
				            	/>
				            	<p:inputText
				            		placeholder="Password"
				            		value="#{userBean.selectedUser.password}"
				            		label="password"
				            	/>
				            	<p:inputText
				            		placeholder="First name"
				            		value="#{userBean.selectedUser.firstName}"
				            		label="firstname"
				            	/>
				            	<p:inputText
				            		placeholder="last name"
				            		value="#{userBean.selectedUser.lastName}"
				            		label="lastname"
				            	/>
				            	<p:selectOneMenu value="#{userBean.selectedUser.membership.id}">
				            		<f:selectItem itemLabel="Select a membership" itemValue="" noSelectionOption="true" />
								    <f:selectItems value="#{userBean.memberships}" var="membership" itemValue="#{membership.id}" itemLabel="#{membership.name}" />
								</p:selectOneMenu>
				            	<f:facet name="footer">
					                <p:commandButton
					                	value="Update"
					                	actionListener="#{userBean.update}"
					                	oncomplete="handleUpdateRequest(xhr, status, args)"
					                	update="growl userForm:userTable userForm:updateDialog"
					                />
					            </f:facet>
					        </h:panelGrid>
						</p:dialog>
						<p:confirmDialog id="deleteDialog"
							message="Are you sure that you want to delete the selected item ?"
		                    header="Delete an user"
		                    severity="alert"
		                    widgetVar="delete"
		               	>
		                    <p:commandButton
		                    	id="confirmDelete"
		                    	value="Yes"
		                        oncomplete="PF('delete').hide()"
		                        actionListener="#{userBean.delete}"
		                        update="userForm:userTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDelete"
		                    	value="No"
		                        onclick="PF('delete').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
		                <p:confirmDialog id="deleteSelectedRowsDialog"
							message="Are you sure that you want to delete the selected items ?"
		                    header="Delete users"
		                    severity="alert"
		                    widgetVar="deleteSelectedRows"
		               	>
		                    <p:commandButton
		                    	id="confirmDeleteSelectedRows"
		                    	value="Yes"
		                        oncomplete="PF('deleteSelectedRows').hide()"
		                        actionListener="#{userBean.deleteSelectedRows}"
		                        update="userForm:userTable"
		               		/>
		                    <p:commandButton
		                    	id="declineDeleteSelectedRows"
		                    	value="No"
		                        onclick="PF('deleteSelectedRows').hide()"
		                        type="button"
		                  	/>
		                </p:confirmDialog>
						<p:dataTable
							id="userTable"
							var="user"
							value="#{userBean.users}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" rows="10" style="margin-bottom:20px"
							rowsPerPageTemplate="10,15,20"
							selection="#{userBean.selectedUsers}"
							rowKey="#{user.id}">
							<p:column selectionMode="multiple" style="width:16px;text-align:center" exportable="false"/>
							<p:column class="idColumn" sortBy="#{user.id}" filterBy="#{user.id}">
						    	<f:facet name="header">
						        	<h:outputText value="ID" />
						   		</f:facet>
						        <h:outputText value="#{user.id}" />
							</p:column>
							<p:column sortBy="#{user.username}" filterBy="#{user.username}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Username" />
						   		</f:facet>
						        <h:outputText value="#{user.username}" />
							</p:column>
							<p:column sortBy="#{user.password}" filterBy="#{user.password}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Password" />
						   		</f:facet>
						        <h:outputText value="#{user.password}" />
							</p:column>
							<p:column sortBy="#{user.firstName}" filterBy="#{user.firstName}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="First name" />
						   		</f:facet>
						        <h:outputText value="#{user.firstName}" />
							</p:column>
							<p:column sortBy="#{user.lastName}" filterBy="#{user.lastName}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Last name" />
						   		</f:facet>
						        <h:outputText value="#{user.lastName}" />
							</p:column>
							<p:column sortBy="#{user.membership.name}" filterBy="#{user.membership.name}" filterMatchMode="startsWith">
						    	<f:facet name="header">
						        	<h:outputText value="Membership" />
						   		</f:facet>
						        <h:outputText value="#{user.membership.name}" />
							</p:column>
							<p:column class="actionsColumn" exportable="false">
								<f:facet name="header">
									<h:outputText value="Actions" />
								</f:facet>
								<p:commandButton
									class="update-button"
									icon="ui-icon-pencil"
	                                update="userForm:updateDialog"
	                                oncomplete="PF('update').show();"
	                        	>
	                                <f:setPropertyActionListener
	                                	value="#{user}"
	                                    target="#{userBean.selectedUser}"
	                                />
	                            </p:commandButton>
								<p:commandButton
									class="delete-button"
	                   				icon="ui-icon-trash"
	                                onclick="PF('delete').show();">
	                                <f:setPropertyActionListener
	                                	value="#{user}"
	                                    target="#{userBean.selectedUser}"
	                                />
	                            </p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</ui:define>
		</ui:composition>
	</h:body>
</html>
