*
  font-family: "Century Gothic Regular" !important

#signInPage
  //background-color: rgb(204, 0, 102)
  background-color: #0070c0

  #logo
    position: relative
    top: 0px
    left: -moz-calc(50% - 125px)
    left: -webkit-calc(50% - 125px)
    left: calc(50% - 125px)
    margin: 200px auto 0

  #signInForm
    width: 300px
    margin: 0px auto

    input
      margin: 15px auto
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding-left: 20px
      padding-right: 20px
      display: block
      height: 30px
      width: 250px
      border: 0px solid transparent
      border-radius: 15px
      text-align: center
      font-family: "Century Gothic Regular"
    input:focus
      outline: none
    input[type=submit]
      background-color: rgb(255, 192, 0)
      font-weight: 700
      color: white

body
  margin: 0px
  font-size: 16px
  font-family: "Century Gothic Regular" !important
  background-color: #ececec

  input
    font-family: "Century Gothic Regular" !important


  #menu
    position: fixed
    display: inline-block
    margin-top: 0px
    height: 100vh
    width: 100px
    background-color: rgb(0, 112, 192)
    vertical-align: top

    #logo
      img
        width: 100px
        margin: 20px auto

    #avatar
      margin: 20px auto 12px
      height: 64px
      width: 64px
      background-color: white
      border-radius: 50%
      border: 5px solid orange
    #membership
      font-size: 12px
      color: white
      font-family: "Century Gothic Regular"
      text-align: center
      margin-bottom: 50px

    form
      a
        img
          position: absolute
          bottom: 32px
          left: 34px
          height: 32px
          width: 32px

    #selected
      background-color: orange

    .menu-item
      height: 60px
      width: 100%
      background-color: transparent

      &:hover
        background-color: orange

      a:link,a:hover, a:focus,a:active
        color: white
        text-decoration: none

      a
        color: white
        text-decoration: none

        .icon-container
          height: 60px
          width: 100%
          background-color: transparent
          text-align: center
          font-size: 12px

          img
            height: 28px
            width: 28px
            margin: 8px 36px 0 36px

  #aside
    vertical-align: top
    display: inline-block
    height: 100vh
    margin-left: -4px
    width: 300px
    //width: -moz-calc(100vw - 115px)
    //width: -webkit-calc(100vw - 115px)
    //width: calc(100vw - 115px)
    background-color: orange

    h1
      text-align: center
      font-size: 16px !important
    input
      display: block
    select
      display: block

  #content
    position: relative
    left: 100px
    vertical-align: top
    display: inline-block
    min-height: 100vh
    margin-left: -4px
    width: -moz-calc(100vw - 111px)
    width: -webkit-calc(100vw - 111px)
    width: calc(100vw - 111px)
    background-color: #ececec
    padding: 10px
    box-sizing: border-box

    form
      .ui-toolbar
        background: transparent
        border: 0

        input[type=text]
          position: relative
          top: -5px
          text-align: center
          border-radius: 20px 0 0 20px
          border: 1px solid #0070c0
          background: white
        button
          top: -5px
          border-radius: 0 20px 20px 0
          border: 0px
          background: #0070c0
          margin-right: 30px

          .ui-icon
            left: 45%

        .create-button, .delete-button
          top: -5px
          border-radius: 20px
          margin-right: 10px

          .ui-icon
            left: 50%
            top: 45%

        a
          color: #0070c0
          text-decoration: none
          margin-right: 30px

        a.exportLink
          position: relative
          top: -5px

      .ui-datatable
        .ui-paginator-top, .ui-paginator-bottom
          background: #0070c0
          border: 0

          .ui-paginator-current
            color: white
            font-family: "Century Gothic Regular"
            font-size: 12px
            position: relative
            top: -2px

          .ui-paginator-page
            color: white
            font-family: "Century Gothic Regular"
            font-size: 14px
            line-height: 18px
            border: 1px solid white
            border-radius: 30px
            padding: 1.5px 7px
            width: 10px
            background-color: #0070c0

          .ui-paginator-page.ui-state-active
            background-color: orange
          .ui-state-default
            border-radius: 30px
          .ui-state-disabled
            border-radius: 30px
            border: 1px solid white !important
            box-sizing: border-box
            background: #0070c0

          select
            border-radius: 30px
            height: 23px
            width: 70px
            border: 1px solid white
            background: white
            font-family: "Century Gothic Regular"
            padding-left: 20px
            font-size: 15px

    table
      width: 100%
      font-size: 16px

      thead
        th
          font-family: "Century Gothic Regular"
        th.idColumn
          width: 100px
        th.barcodeColumn
          width: 120px
        th.priceColumn
          width: 100px
        th.quantityColumn
          width: 100px
        th.dateColumn
          width: 100px
        th.categoryColumn
          width: 200px
        th.actionsColumn
          width: 100px

      tbody
        tr
          td
            text-align: center
            font-family: "Century Gothic Regular"

            .update-button, .delete-button
              border-radius: 20px
              margin-right: 10px
              background: #0070c0
              height: 30px

              .ui-icon
                left: 50%
                top: 45%
